.container {
  padding: 1.2rem;
  margin: 0;
  width: 100%;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  align-items: flex-end;
}

p.time {
  flex-basis: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.flex-basis-80 {
  flex-basis: 80%;
}

.flex-basis-20 {
  flex-basis: 20%;
}

@media screen and (min-width: 756px) {
  .container {
    width: 40%;
    margin: auto;
    margin-top: 4rem;
    padding: 2rem;
  }

  .wrap {
    justify-content: space-between;
  }

  .flex-basis-20 {
    flex-basis: 0;
  }

  .user-content {
    flex-basis: 85%;
  }
}
