@import "https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Josefin+Sans:wght@100;300;400;600&family=Plus+Jakarta+Sans:wght@300;500;800&family=Poppins:wght@400;700&display=swap";

body {
  font-family: "Plus Jakarta Sans", serif;
  color: hsl(219deg, 14%, 63%)

  /* unread color */
}

.container {
  padding: 1.5rem;
  margin: 0;
  width: 100%;
}

.notifications-p {
  color: hsl(224deg, 21%, 14%);
}

.user-name {
  cursor: pointer;
  font-weight: 800;
  color: hsl(224deg, 21%, 14%);
  margin: 0;
}

.user-content {
  margin-left: 1rem;
}

span.notification-text {
  font-weight: 300;
}

.post-name {
  cursor: pointer;
}

img {
  width: 40px;
}

.notification {
  /* background-color: hsl(210deg, 60%, 98%); */
  margin: 1rem 0;
}

.private-message {
  color: hsl(219deg, 14%, 63%);
  border: solid 1px hsl(211deg, 68%, 94%);
}

.unread {
  color: hsl(219deg, 14%, 63%);
  background-color: hsl(210deg, 60%, 98%);
}
