@import "https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Josefin+Sans:wght@100;300;400;600&family=Plus+Jakarta+Sans:wght@300;500;800&family=Poppins:wght@400;700&display=swap";

body {
  font-family: "Plus Jakarta Sans", serif;
  color: hsl(219deg, 12%, 42%);
  font-weight: 500;

  /* unread color */
}

.notifications-p {
  color: hsl(224deg, 21%, 14%);
  font-size: 1.75rem;
  font-weight: 800;
  margin-right: 0.5rem;
}

.number-notifications {
  font-size: 1rem;
  color: white;
  background-color: hsl(219deg, 85%, 26%);
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
}

.user-name {
  cursor: pointer;
  font-weight: 800;
  color: hsl(224deg, 21%, 14%);
  margin: 0;
}

.user-name:hover {
  color: hsl(219deg, 85%, 26%);
}

p {
  color: hsl(219deg, 12%, 42%);
  font-size: 0.9rem;
  margin: 0.3rem 0;
  font-weight: 500;
}

.user-content {
  margin-left: 1rem;
}

span.notification-text {
  font-weight: 300;
}

.post-name {
  cursor: pointer;
}

img {
  width: 40px;
}

.notification {
  margin: 0.7rem 0;
  padding: 1rem;
  border-radius: 7px;
}

.private-message {
  color: hsl(219deg, 12%, 42%);
  border: solid 1px hsl(211deg, 68%, 94%);
  border-radius: 7px;
  cursor: pointer;
}

.message {
  padding: 1rem;
}

.private-message:hover {
  background-color: hsl(205deg, 33%, 90%);
}

.unread {
  color: hsl(219deg, 14%, 63%);
  background-color: hsl(210deg, 60%, 98%);
}

.unread i {
  display: inline;
  font-size: 0.6rem;
  margin-left: 0.3rem;
  color: hsl(1deg, 90%, 64%);
}

.read i {
  display: none;
}

.read {
  background-color: transparent;
}

span.group-name {
  font-weight: 800;
  color: hsl(219deg, 85%, 26%);
}

span.post-name {
  font-weight: 500;
}

span.post-name:hover,
span.group-name:hover,
p.mark-read:hover {
  cursor: pointer;
  color: hsl(219deg, 85%, 26%);
}

span.post-name:hover {
  font-weight: 800;
}

p.time {
  color: hsl(219deg, 14%, 63%);
}

@media screen and (min-width: 756px) {
  body {
    background-color: hsl(210deg, 60%, 98%);
  }

  .container {
    background-color: white;
    box-shadow: 1px 1px 27px -2px rgba(147, 157, 174, 0.34);
    border-radius: 15px;
  }

  p {
    font-size: 1.1rem;
  }

  .private-message {
    margin-top: 1rem;
  }

  div.user-avatar img {
    width: 70px;
  }
}
